# See https://www.npmjs.com/package/npmignore for details.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
